{% doc %}
  Renders a product-card block.
  Uses placeholder content for now
{% enddoc %}

{% assign variant_names = "Orange,Green,Blue,Yellow,Pink,Navy Blue" | split: "," %}
{% assign variant_hexes = "#ff6633,#006600,#00639c,#fce78d,#ffccff,#19264b" | split: "," %}

<div class="product">
  <div class="image">
    <img
      src="{{ 'img-placeholder-default.png' | asset_url }}"
      alt="Plain T-Shirt default view"
      class="product-image default"
      width="300"
      height="300"
    >
    <img
      src="{{ 'img-placeholder-hover.png' | asset_url }}"
      alt="Plain T-Shirt hover view"
      class="product-image hover"
      width="300"
      height="300"
    >
    <div class="badge-sale">
      <p>On Sale!</p>
    </div>
  </div>
  <div class="info">
    <div class="variant-swatches">
      {% for name in variant_names %}
        {% assign hex = variant_hexes[forloop.index0] %}
        <label
          class="variant-swatch swatch-{{ name | handle }}"
          style="--swatch-color: {{ hex }};">
          <input
            type="radio"
            name="radio-{{ block.id }}"
            value="{{ name | handle }}"
            class="variant-swatch-input"
            {% if forloop.first %}checked{% endif %}
          >
          <span class="variant-swatch-title">{{ name }}</span>
        </label>
      {% endfor %}
    </div>
    <h3 class="product-brand">Good Brand Company</h3>
    <h3 class="product-name">Plain T-Shirt</h3>
    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus voluptatum quas obcaecati assumenda incidunt odit, voluptatibus eligendi praesentium cumque recusandae. Sunt, in iure. Eos ut fuga non dolorum laudantium.</p>
    <div class="price">
      <span class="original">$29.50</span>
      <span class="discounted">$20.00</span>
      <span class="discount">32% off!</span>
    </div>
  </div>
</div>

{% stylesheet %}
  .image {
    position: relative;
    display: inline-block;

    .product-image {
      display: block;
      width: 100%;
      height: auto;

      &.hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }

    &:hover {
      .product-image {
        &.hover {
          opacity: 1;
        }

        &.default {
          opacity: 0;
        }
      }
    }
  }

  .variant-swatch {
    background-color: var(--swatch-color);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product Card",
  "settings": [
  ],
  "presets": [
    { "name": "Product Card" }
  ]
}
{% endschema %}